@import "../vars";

.inner-pages-row-underline-display {
  display: flex;
  text-transform: uppercase;
  color: $secondary-text;

  &:not(.long-link-lines) {
    justify-content: flex-start;

    > *:not(:last-child) {
      margin: 0 14px 0 0;
    }
  }
  &.long-link-lines {
    justify-content: space-between;
  }
}
