/* Colors */
$main-text: black;
$secondary-text: lighten($main-text, 50);

$purple: rgb(74, 60, 127);
$green: rgb(76, 132, 67);
$blue: rgb(29, 38, 78);
$red: rgb(173, 52, 51);

/* Screen Size Breakpoints */
$screen-xs: 576px;
$screen-sm: 767px;
$screen-md: 991px;
$screen-lg: 1999px;

$small-screen: 1024px;
