@import "../styles/vars";

@import url(//db.onlinewebfonts.com/c/a2518a14de7de124ac4770b88a5daaf4?family=Kohinoor-Book);
@font-face {
  font-family: "Kohinoor-Book";
  src: url("//db.onlinewebfonts.com/t/a2518a14de7de124ac4770b88a5daaf4.eot");
  src: url("//db.onlinewebfonts.com/t/a2518a14de7de124ac4770b88a5daaf4.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/a2518a14de7de124ac4770b88a5daaf4.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/a2518a14de7de124ac4770b88a5daaf4.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/a2518a14de7de124ac4770b88a5daaf4.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/a2518a14de7de124ac4770b88a5daaf4.svg#Kohinoor-Book")
      format("svg");
}

body {
  font-family: "Kohinoor-Book", Fallback, sans-serif;
  background-image: url(/img/sky.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  .taglist {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
  }

  li {
    padding: 0 2rem 1rem 0;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
}

/* Mobile */

@media only screen and (max-width: $small-screen) {
  body {
    background-color: rgb(255, 255, 255);
    background-image: url(/img/sky-mobile.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .section {
    padding: 0.5rem 1rem;
  }

  .column {
    padding: 0.3rem 0;

    &:not(.is-desktop) {
      display: block;
    }
  }
}
