/* CSS Objects */
.hollow-arrow {
  position: relative;
  width: 20px;
}
.hollow-arrow > div,
.hollow-arrow > div:before,
.hollow-arrow > div:after {
  width: 20px;
  height: 2px;
  background: grey;
}

.hollow-arrow > div:before,
.hollow-arrow > div:after {
  content: " ";
  display: block;
  -webkit-transform: rotate(56deg);
  -moz-transform: rotate(56deg);
  -ms-transform: rotate(56deg);
  transform: rotate(56deg);
  position: absolute;
  top: -8px;
  right: -5px;
}

.hollow-arrow > div:before {
  -webkit-transform: rotate(56deg);
  -moz-transform: rotate(56deg);
  -ms-transform: rotate(56deg);
  transform: rotate(56deg);
  right: -5px;
}
.hollow-arrow > div:after {
  -webkit-transform: rotate(-56deg);
  -moz-transform: rotate(-56deg);
  -ms-transform: rotate(-56deg);
  transform: rotate(-56deg);
  left: -5px;
}
.hollow-arrow.down {
  transform: rotate(180deg);
}
.hollow-arrow-wrapper {
  height: 22px;
  width: 20px;
  user-select: none;
  cursor: pointer;

  &:hover {
    > div,
    div:before,
    div:after {
      background: #a1a0a0;
      cursor: pointer;
    }
  }
}
