.display-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.flex-centerize {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-row {
  flex-direction: row;
}

@for $i from 1 through 8 {
  .flex-#{ $i } {
    flex: $i;
  }
}
