@import "../styles/vars";

.inner-page-layout {
  .subpage-header {
    font-weight: bold;
  }

  .page-section {
    margin: 10px 0;
  }

  .hollow-arrow-wrapper {
    margin: 10px 0 20px 30px;
    transform: scale(1, 0.5);
  }

  .left-section {
    max-height: 100vh;
    // overflow: hidden;
    padding: 20px;
    z-index: 20;

    .inner-page-content-container {
      position: relative;
      max-height: 100%;
      padding: 40px 0 0 0;
    }

    .inner-page-content {
      max-height: 100%;
      overflow: scroll;

      .event-submenu {
        > a {
          margin: 3px 5px;
        }

        .link-text {
          color: $secondary-text;

          &.selected {
            color: $main-text;
          }
        }
      }

      @media only screen and (min-width: $small-screen) {
        .event-submenu {
          margin: 0 0 15px 0;
          //   position: absolute;
          //   right: 0;
          //   background: rgba(12, 12, 12, 0.1);
          //   border: 1px solid rgba(120, 120, 120, 0.1);
          //   border-radius: 4px;
        }
      }
    }
  }

  @media only screen and (max-width: $small-screen) {
    $upper-padding: 5px;

    .navigation-section {
      padding: 0 $upper-padding;
    }
    .event-submenu {
      margin: 10px $upper-padding 20px;
      max-width: 80px;

      a {
        margin: 2px;
        padding: 2px 5px;
        font-size: 0.6em;
        border: 1px solid white;
        background-color: rgb(189, 211, 218);
        border-radius: 4px;
      }
    }
  }

  .right-section {
    z-index: 10;
  }

  @media only screen and (max-width: $small-screen) {
    .content {
      padding: 10px;
    }

    > div:first-child {
      padding-bottom: 30px;
    }

    > a {
      margin: 3px 5px;
    }

    .link-text {
      color: rgb(132, 134, 132);

      &.selected {
        color: rgba(0, 0, 0, 0.73);
        font-weight: 600;
      }
    }
  }

  .mobile-image-section-container {
    max-width: 50vw;

    .mobile-image-section,
    .mobile-image-section img {
      transform: translateX(-45vw);
      min-width: 141vw;
    }
  }

  .page-name {
    padding-bottom: 10px;
    text-transform: capitalize;
    font-weight: bold;
  }
}
