@import "../styles/vars";

.navbar {
  &.override {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
  }

  &.page-is-at-top {
    background-color: transparent;
    background-image: none;
    transition: 1.5s;

    .bm-burger-button {
      opacity: 0.3;
      width: 13px;
      height: 13px;
      transition: 0.5s;
    }
  }
  &:not(.page-is-at-top) {
    opacity: 0.95;
    transition: 0.5s;

    .bm-burger-button {
      opacity: 1;
      width: 16px;
      height: 16px;
      transition: 0.5s;
    }
  }

  .menu-item,
  .inner-link {
    text-transform: uppercase;
    color: $secondary-text;
  }
  .menu-item {
    margin: -1px 0 0 0;

    &.logo {
      width: 63%;
      height: auto;
      margin: 1px 0 7px 2px;
    }
    &:focus,
    &:hover {
      border: 0;
      color: transparent;
      outline-offset: 0;
      outline: 0;
    }
  }

  .inner-link {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 1px;
    line-height: 1.3em;
    font-size: 0.4em;
  }

  /* Hamburger menu */

  .bm-burger-button {
    position: fixed;
    right: 16px;
    top: 20px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    height: 2px !important;
    // margin: 0 0 1px 0;
    background: #373a47;
  }

  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    margin: 4px;
    transform: scale(1.5, 1.5);
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #011725;
  }

  /*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }

  /* General sidebar styles */
  .bm-menu {
    // background: rgba(150, 168, 180, 0.95);
    opacity: 0.9;
    background-image: url(/img/sky.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.4em 0 0 3.1em;
    font-size: 1.15em;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* Wrapper for item list */
  .bm-item-list {
    position: relative;
    padding: 0;
    color: #b8b7ad;
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
    margin: 0 0 10px 0;
    color: black;
  }

  /* Styling of overlay */
  .bm-overlay {
    top: 0;
    left: 0;
    background: rgba(181, 198, 222, 0.3);
  }

  .navbar-item {
    opacity: 0.4;
  }

  .bottom-nav {
    position: absolute;
    bottom: 10px;
    font-size: 10px;
  }
}
