@import "../styles/vars";

.navigation-map {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

  .video-map-container {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;

    video {
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      max-width: 100vw; //none; // override all.scss
      // min-height: 100vh; //none; // override all.scss
      // max-height: 100vh; //none; // override all.scss
      width: auto;
      // height: 100vh;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
      background-size: cover;
      transition: 1s opacity;
      display: inline-block;
    }

    .image-map-container {
      position: relative;
      height: 100vh;
      width: 100vw;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        width: 100%;
        transform: translate(-50%, -50%) scale(1.2);
        z-index: 99999;

        polygon {
          transition: 0.3s;

          &:not(:hover),
          &.unhovereable-mask {
            opacity: 0.1;
            transition: 0.3s;
            fill: url(#MyGradient);
          }

          &:not(.unhovereable-mask) {
            &:hover {
              transition: 0.3s;
              opacity: 0.5;

              @keyframes changeOpacity {
                from {
                  opacity: 0.3;
                  filter: url(#hue);
                }

                to {
                  opacity: 0.5;
                  filter: url(#hue);
                }
              }
              animation-delay: 1s;
              animation-duration: 2s;
              animation-name: changeOpacity;
              animation-iteration-count: infinite;
              animation-direction: alternate-reverse;
            }
          }
        }
        .link-container:hover {
          &:nth-child(1) polygon {
            fill: url(#GreenGradient);
            // filter: url(#hue);
            // fill: $green;
          }
          &:nth-child(2) polygon {
            fill: url(#PurpleGradient);
            // filter: url(#hue);
            // fill: $purple;
          }
          &:nth-child(3) polygon {
            fill: url(#BlueGradient);
            // filter: url(#hue);
            // fill: $blue;
          }
          &:nth-child(4) polygon {
            fill: url(#RedGradient);
            // filter: url(#hue);
            // fill: $red;
          }
        }
      }

      .link-description-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 999999;
        pointer-events: none;
        color: $secondary-text;

        .link-description {
          margin: 10% 3% 0 5%;
          color: #4e4e4e;

          &:first-child {
            margin: 10% 0 0 10%;
          }
          &:last-child {
            margin: 10% 10% 0 0;
          }

          &:not(.is-hovered) {
            opacity: 0;
            transition: 0.3s;
          }
          &.is-hovered {
            opacity: 1;
            transition: 0.3s;
          }
          .link-description-text {
            margin: 0 0 4px;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 600;
          }
          .link-subpages-description-text {
            font-size: 10px;
            text-transform: uppercase;
          }
        }
      }

      .dummy-img-for-size {
        opacity: 0;
      }
    }

    .logo,
    .link-container {
      position: absolute;
      z-index: 14;
    }

    .logo {
      top: 10px;
      right: 25px;
      height: 40px;
      width: 50px;
    }

    .desert-objects {
      position: absolute;
      top: 0;
      left: 0;

      > :nth-child(1) {
        top: 39%;
        left: 6%;
      }
      > :nth-child(2) {
        top: 44%;
        left: 23%;
      }
      > :nth-child(3) {
        top: 44%;
        left: 69%;
      }
      > :nth-child(4) {
        top: 38%;
        left: 86%;
      }
    }
    .link-container {
      height: 100px;

      img {
        position: absolute;
        bottom: 0;
      }

      .link-text {
        max-width: 50px;
        text-align: center;
        text-transform: uppercase;
        font-size: 0.8em;
        opacity: 0;
      }
      .line {
        .point {
          position: absolute;
          bottom: 60px;
          width: 1px;
          height: 1px;
          transform: translate(23px);
          background: red;
          transition: height 1s ease;

          background: repeating-linear-gradient(
            0deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 1px,
            rgba(0, 0, 0, 1) 1px,
            rgba(0, 0, 0, 0) 4px
          );
        }
      }

      &:hover {
        cursor: pointer;

        .link-text {
          transition: 1s ease;
          opacity: 1;
        }
        .point {
          height: 110px;
        }
      }
    }
  }
  .whtif-logo {
    position: absolute;
    bottom: 3%;
    left: 50%;
    height: auto;
    width: 4em;
    transform: translate(-8%, 0);
  }
  .bg-rescue {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    // height: 100vh;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }
}
